---
layout: default
title: Home
---

<div id="content">
    <div id="header">
        <h1>This was copied from github pages of Mark Dunne</h1>
        <p>Who is a Data Scientist working in genetic engineering startup</p>
    </div>

    <hr />

    <hr />

    <h2>Experiments</h2>

    <ul>
        {% for post in site.posts %} {% if post.is_experiment == true %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
        </li>
        {% endif %} {% endfor %}
    </ul>

    <h2>Posts</h2>

    <ul>
        {% for post in site.posts %} {% if post.is_experiment == false %}
        <li>
            <a href="{{ post.url }}">
                {{ post.date | date_to_string }} - {{ post.title }}
            </a>
        </li>
        {% endif %} {% endfor %}
    </ul>
</div>
